@page "/ip"
@page "/service/lookup"

@using Business.Models.IP
@using Business.Services.IP
@using WebSite.Extensions
@using WebSite.Models
@using System.Net

@inject IPLogic _ipLogic
@inject IJSRuntime _jsRuntime
@inject NavigationManager _navigation

<LayoutSetter>
    <PageHeader>
    </PageHeader>
    <Footer>
    </Footer>
</LayoutSetter>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-filled panel-c-accent">
            <div class="panel-body">
                @*@using (Html.BeginForm(method: FormMethod.Get, htmlAttributes: new { autocomplete = "off" }))*@
                <EditForm Model="_searchModel" OnValidSubmit="SearchSubmit" autocomplete="off">
                    <div class="form-group">
                        <label for="txtIpAddress"><span class="c-accent">IP</span> Address / Domain Address</label>
                        <input type="text" @bind="_searchModel.Address" class="form-control" name="host" id="txtIpAddress" placeholder="8.8.8.8 / Domain.com">
                    </div>
                    <div class="form-group pull-right">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-w-sm btn-accent Popup Ip" data-obj="txtIpAddress">Send</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>
<div class="row m-t-sm">
    <div class="col-md-12">
        <div class="panel" id="panlIpInfo">
            <div class="loader">
                <div class="loader-bar"></div>
            </div>
            <div class="panel-body" id="p1">
                <div class="col-md-6" id="p2">
                    <div class="panel panel-filled" id="panlIpInfo2">
                        <div class="panel-body">
                            <table class="table table-hover table-striped" id="IpInfo">
                                <tbody>
                                    <tr>
                                        <td class="tdTitle">
                                            <strong class="c-white">IP</strong>
                                        </td>
                                        <td>
                                            <span id="lblOS">@(_ip?.Ip)</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="tdTitle">
                                            <strong class="c-white">Range Info</strong>
                                        </td>
                                        <td>
                                            <span id="lblNetRange">@*@(Model?.RangeInfo.ToString())*@</span>

                                            <span class="Popup dropdown">
                                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button">
                                                    <i class="fa fa-info-circle c-accent"></i>
                                                </a>
                                                <ul class="dropdown-menu list-unstyled text-nowrap">
                                                    <li>
                                                        &nbsp;
                                                        <span><strong>Network :</strong> @*@(Model?.RangeInfo.Network)*@ </span>
                                                        &nbsp;
                                                    </li>
                                                    <li>
                                                        &nbsp;
                                                        <span><strong>Netmask :</strong> @*@(Model?.RangeInfo.Netmask)*@ </span>
                                                        &nbsp;
                                                    </li>
                                                    <li>
                                                        &nbsp;
                                                        <span><strong>Broadcast :</strong> @*@(Model?.RangeInfo.Broadcast)*@ </span>
                                                        &nbsp;
                                                    </li>
                                                    <li>
                                                        &nbsp;
                                                        <span><strong>First Usable :</strong> @*@(Model?.RangeInfo.FirstUsable)*@ </span>
                                                        &nbsp;
                                                    </li>
                                                    <li>
                                                        &nbsp;
                                                        <span><strong>Last Usable :</strong> @*@(Model?.RangeInfo.LastUsable)*@ </span>
                                                        &nbsp;
                                                    </li>
                                                    <li>
                                                        &nbsp;
                                                        <span><strong>Usable :</strong> @*@(Model?.RangeInfo.Usable)*@ </span>
                                                        &nbsp;
                                                    </li>
                                                </ul>
                                            </span>

                                            <i class="fa fa-clone c-accent copy-to-clipboard" data-obj="lblNetRange" data-toggle="tooltip" title="Copy to clipboard"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdTitle">
                                            <strong class="c-white">Net Name</strong>
                                        </td>
                                        <td>
                                            <span id="lblNetName">@*@(Model?.NetName)*@</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdTitle">
                                            <strong class="c-white">Description</strong>
                                        </td>
                                        <td>
                                            <span id="lblDescription">@*@(Model?.Description)*@</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdTitle">
                                            <strong class="c-white">Country Name</strong>
                                        </td>
                                        <td>
                                            <span id="lblCountryName">@(_ip?.CountryName)</span>
                                            <img src="/images/flags/@(_ip?.CountryCodeIso3).png" alt="Country" id="imgCountryFlag" style="width: 16px; height: 11px" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdTitle">
                                            <strong class="c-white">Country Code</strong>
                                        </td>
                                        <td>
                                            <span id="lblCountryCode">@(_ip?.CountryCode)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdTitle">
                                            <strong class="c-white">Region Name</strong>
                                        </td>
                                        <td>
                                            <span id="lblRegionName">@(_ip?.Region)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdTitle">
                                            <strong class="c-white">Region Code</strong>
                                        </td>
                                        <td>
                                            <span id="lblRegionCode">@(_ip?.RegionCode)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdTitle">
                                            <strong class="c-white">City</strong>
                                        </td>
                                        <td>
                                            <span id="lblCity">@(_ip?.City)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdTitle">
                                            <strong class="c-white">Zip Code</strong>
                                        </td>
                                        <td>
                                            <span id="lblZipCode">@(_ip?.Postal)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdTitle">
                                            <strong class="c-white">Latitude</strong>
                                        </td>
                                        <td>
                                            <span id="lblLatitude">@(_ip?.Latitude)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdTitle">
                                            <strong class="c-white">Longitude</strong>
                                        </td>
                                        <td>
                                            <span id="lblLongitude">@(_ip?.Longitude)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdTitle">
                                            <strong class="c-white">Time Zone</strong>
                                        </td>
                                        <td>
                                            <span id="lblTimeZone">@(_ip?.Timezone)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdTitle">
                                            <strong class="c-white">Isp</strong>
                                        </td>
                                        <td>
                                            <span id="lblIsp">@*@(Model?.Isp)*@</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdTitle">
                                            <strong class="c-white">Organization</strong>
                                        </td>
                                        <td>
                                            <span id="lblOrganization">@(_ip?.Org)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdTitle">
                                            <strong class="c-white">AS Number</strong>
                                        </td>
                                        <td>
                                            <span id="lblAsNumberName">@(_ip?.Asn)</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    @*<div class="row">

                        <div class="tabs-container" id="tabContacts">
                        @if ((Model.ContactInfos?.Count ?? 0) > 0)
                        {
                        <h4><i class='per pe-7s-id text-accent'></i> Contact Points</h4>

                        <ul class="nav nav-tabs">
                        @for (var i = 0; i < Model.ContactInfos.Count; i++)
                        {
                        <li class="@(i == 0 ? "active" : "")">
                        <a data-toggle="tab" href="#tab-@(i + 1)" aria-expanded="true">Contact @(i + 1)</a>
                        </li>
                        }

                        </ul>
                        <div class="tab-content">
                        @for (var i = 0; i < Model.ContactInfos.Count; i++)
                        {
                        <div class="tab-pane @(i == 0 ? "active" : "")" id="tab-@(i + 1)">
                        <div class="panel-body">
                        <table class="table table-hover table-striped">
                        <tbody>
                        <tr>
                        <td class="tdTitle">
                        <strong class="c-white">Name</strong>
                        </td>
                        <td>
                        <span> @Model.ContactInfos[i].Name</span>
                        </td>
                        </tr>
                        <tr>
                        <td class="tdTitle">
                        <strong class="c-white">Address</strong>
                        </td>
                        <td>
                        <span> @Model.ContactInfos[i].Address</span>
                        </td>
                        </tr>
                        <tr>
                        <td class="tdTitle">
                        <strong class="c-white">PhoneNumber</strong>
                        </td>
                        <td>
                        <span> @Model.ContactInfos[i].PhoneNumber</span>
                        </td>
                        </tr>
                        <tr>
                        <td class="tdTitle">
                        <strong class="c-white">EMail</strong>
                        </td>
                        <td>
                        <span> @Model.ContactInfos[i].EMail</span>
                        </td>
                        </tr>
                        </tbody>
                        </table>
                        </div>
                        </div>
                        }

                        </div>
                        }
                        </div>
                        </div>*@
                    <div class="row">
                        <div id="serverMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    private readonly SearchByAddressModel _searchModel = new();

    private GetIPResponse _ip;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        SetTitles();
        _searchModel.Address = _navigation.QueryString("host");

        if (string.IsNullOrWhiteSpace(_searchModel.Address))
        {
            return;
        }
        await Search();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return !firstRender 
            ? Task.CompletedTask 
            : Layout.Init();
    }

    private void SetTitles()
    {
        Layout.Title = "Address Lookup";
        Layout.Description = "The Address Lookup tool. includes the following details: IP Address, Country Name, City, State/Region, Zip Code, Country Code, Time Zone, ISP, Global Map and more";

        Layout.PageLogo = @<i class="pe page-header-icon pe-7s-compass"></i>;
        Layout.PageTitle = @<text>Address Lookup</text>;
        Layout.PageDescription = @<text>The Address Lookup tool includes the following <span class="c-accent">IP</span> or Domain Address details: <span class="c-accent">IP</span> Address, Country Name, City, State/Region, Zip Code, Country Code, Time Zone, ISP, Global Map and more.</text>;
    }

    private Task SearchSubmit()
    {
        _navigation.NavigateTo($"service/lookup?host={_searchModel.Address}");
        return Search();
    }

    private async Task Search()
    {
        _ip = await _ipLogic.GetIpInfo(_searchModel.Address);
        await _jsRuntime.InvokeVoidAsync("InitMap", _ip.CountryCodeIso3);
    }
}
